
/*#Region Common*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --button-blu: blue;
    --button-violet: violet;
    --button-orange: orange;
    --button-fuchsia: rgb(242, 26, 138);
    --button-green: green;
    --button-colortext: white;
    --button-text: black;
    --button-colorgrey: grey;      
}
/*End Region Common*/

/*Region Header*/
header{
    height: 150px;
    background-color: azure;
}
.logo_img{
    margin-left: 30px;
    vertical-align: middle;
}
.logo_text{
    line-height: 150px;
    vertical-align: middle;
    display: inline-block;
    color: var(--button-text);
    font-size: 50px;
}
/*Finish Region Header*/

.button_box_tab{
    width: 80%;
    height: 100px;
    padding-bottom: 10px;
    background-color: azure;
    margin: auto;
}

.button_tab{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: aqua;
  display: inline-block;
  margin-top: 45px;
  text-align: center;
  vertical-align: middle;

}

/*Start Region Box Tab*/

